## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.pyc
*.basex*

# Java classfiles
*.class

# Maven target dir
/release
/xqdoc

/mac/dist/BaseX.app/

/python/dist
/python/build
/python/*.egg-info/
