[Desktop Entry]
Version=1.0
Name=BaseX
Comment=XML database and XPath/XQuery processor
Type=Application
Exec=basexgui
Icon=basex
Terminal=false
Categories=Development;
StartupNotify=true
MimeType=application/xml;text/xml;application/xquery;
X-SuSE-translate=false
