[Desktop Entry]
Version=1.0
Type=Application
Name=BaseX XML database and XPath/XQuery processor
Exec=basexgui
Icon=basex
Terminal=false
Categories=Development;Database;
StartupNotify=true
MimeType=application/xml;text/xml;application/xquery;
